<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
  </head>
<body>
 <%- include partials/nav.html %>
<a href="/auth/facebook">Sign in with Facebook</a>
<a href="/auth/twitter">Sign in with Twitter</a>
<a href="/auth/weixin">Sign in with Weixin</a>
  <form action="/account/login" method="POST">
    <h3>Login</h3>
    <div>
      <label>Email:</label>
      <input type="email" name="email" />
    </div>
     <div>
      <label>Password:</label>
      <input type="password" name="password" />
    </div>
    <div>
      <input type="submit" value="Login" />
    </div>
  </form>
</body>
</html>
